<!DOCTYPE html>

{% load staticfiles %}
{% load template_tags %}

<style>
    header {
    background-color:transparent;
    padding: 30px;
    text-align: left;
    font-size: 17px;
    color: white;
  }

footer {
    background-color:transparent;
    padding: 30px;
    text-align: left;
    font-size: 17px;
    color: white;
  }
</style>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    
    <link rel="icon" href="{% static 'images/icon.png' %}">

   <title>
       ReadyRecipe -
       {% block title_block %} {% endblock %} 
   </title>

       <!-- Bootstrap core CSS -->
       <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
       <!-- Custom styles for this template -->
       <link href="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.css" rel="stylesheet">
</head>

<body>
    <header> 
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-0">
            <a class="navbar-brand p-2" href="{% url 'ready_recipe:index' %}">ReadyRecipe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item "><a class="nav-link">Hello {{request.user.username}}</a></li>

                    {% endif %}

                    <li class="nav-item "><a class="nav-link" href="{% url 'ready_recipe:index' %}">Home</a></li>
                    <li class="nav-item "><a class="nav-link" href="{% url 'ready_recipe:add_recipe' %}">Upload your Recipe</a></li>

                    {% if user.is_authenticated %}

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='far fa-user'></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'ready_recipe:user_profile' %}">Profile</a>
                            {% if user.is_superuser %}
                                <a class='dropdown-item' href="{% url 'ready_recipe:add_category' %}">Add Category</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'ready_recipe:change_password' %}">Change Password</a>
                            <a class="dropdown-item"  href="{% url 'ready_recipe:delete_user' username=request.user.username %}?next=/index/">Delete account</a>
                            <a class="dropdown-item"  href="{% url 'ready_recipe:logout' %}?next=/index/">Log out</a>
                        </div>
                      </li>

            

                    {% else %}

                    <li class="nav-item"><a class="nav-link" href="{% url 'ready_recipe:register' %}">Register Here</a></li>
                    <li class="nav-item "><a class="nav-link" href="{% url 'ready_recipe:login' %}">Login</a></li>
                    
                    {% endif %}
                    <form id = "searchform" method="POST" action="{% url 'ready_recipe:search' %}" class="nav-link" style="display: inline;" >{% csrf_token %}
                        <input name="search" id="searchbox" value = "{{request.GET.search}}" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </form>

                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">

            <!--Side bar-->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                {% block sidebar_block %}
                    {% get_category_list %}
                {% endblock %}
                </div>
            </nav>

            <main role="main" class="col-md-9  ml-sm-auto col-lg-10 px-4">		
                {% block body_block %}{% endblock %}
                    
                <!-- FOOTER -->
                <footer>
                    <p class="float-right"><a href="#">Back to top</a></p>
                    <p>&copy; 2020 Ready-Recipe &middot;</p>
                </footer>
            </main>

        </div>
    </div>
 

</body>
</html>


