

{% extends 'ready_recipe/base.html' %}

{% block title_block %}
    {{category.name}}
{% endblock %} 




    {% block body_block %}

    <div>


        
        {% if category %}
        
            <h1>{{ category.name }}</h1>
        
            {% if recipes %}
        
            <ul>
        
                {% for recipe in recipes %}
        
                    <a href="/ready_recipe/category/{{ category.slug }}/{{recipe.slug}}/" style = "color: black;">{{ recipe.name }}</a>  <br>
        
                {% endfor %}
        
            </ul>
        
            {% else %}
        
                <strong>No recipes currently in this category.</strong>
        
            {% endif %}
        
        {% else %}
        
            The specified category does not exist.
        
        {% endif %}
    </div>

    {% endblock %}
