

{% extends 'ready_recipe/base.html' %}

{% block title_block %}
    {{category.name}}
{% endblock %} 




    {% block body_block %}
    <style> 
        img {
        max-width: 15%;
        height: auto;
      }
    </style>
    <div>


        
        {% if category %}
        <div class="jumbotron p-4">
            <div class="container">
                <h1 class="jumbotron-heading">{{category.name}}</h1>
            </div>
        </div>
                
            {% if recipes %}

                
                    {% for recipe in recipes %}
                    <div class="list-group-item">

                        
                        <h3 class="list-group-item-heading">
                            <a href="{% url 'ready_recipe:show_recipe' category_name_slug=category.slug recipe_name_slug=recipe.slug %}">{{ recipe.name }}</a>
                        </h3>

                        <p class="list-group-item-text">

                            <img src="{{recipe.picture.url }}"> <br> <br>

                        </p>


                    </div>

                    {% endfor %}
        
        
            {% else %}
        
                <strong>No recipes currently in this category.</strong>
        
            {% endif %}
        
        {% else %}
        
            The specified category does not exist.
        
        {% endif %}
    </div>

    {% endblock %}
