{% extends 'ready_recipe/base.html' %}


{% block title_block %}
    Change Password
{% endblock %} 

{% block body_block %}

<style>
    header {
    background-color:transparent;
    padding: 30px;
    text-align: left;
    font-size: 17px;
    color: white;
  }

  body {
  font-family: Arial, Helvetica, sans-serif;
    color: white;
}
div.jumbotron {
  background: rgba(255, 255, 255, 0.27);
}
footer {
    background-color:transparent;
    padding: 30px;
    text-align: left;
    font-size: 17px;
    color: white;
  }
</style>

<h3>Change Password</h3>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save changes</button>
  </form>

  {% endblock %}
