{% extends 'ready_recipe/base.html' %}


{% block title_block %}
    Login
{% endblock %} 


{% block body_block %}

<h3>Login</h3>

<form id="login_form" method="post" action="{% url 'ready_recipe:login' %}">
 {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    {% if not success %}
        <strong>Invalid Login details. Please try again</strong><br>
    {% endif %}
    <input type="submit" value="Login" />
    </form>
   
   
{% endblock %}






