{% extends 'ready_recipe/base.html' %}

{% block title_block %}
    Registration
{% endblock %} 


{% block body_block %}


{% if request.user.is_authenticated %}

    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Already registered</h1>
        </div>
    </div>

{% else %}

    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Register here!</h1>
        </div>
    </div>
   
    <form id="user_form" method="post" action="{% url 'ready_recipe:register' %}" enctype="multipart/form-data">
   
        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        
        <input type="submit" name="submit" value="Register" />
    </form>

{% endif %}

{% endblock %} 
