{% extends 'ready_recipe/base.html' %}

{% block title_block %}
    Registration
{% endblock %} 


{% block body_block %}

<style>
    header {
    background-color:transparent;
    padding: 30px;
    text-align: left;
    font-size: 17px;
    color: white;
  }

  body {
  font-family: Arial, Helvetica, sans-serif;
    color: white;
}
div.jumbotron {
  background: rgba(255, 255, 255, 0.27);
}
footer {
    background-color:transparent;
    padding: 30px;
    text-align: left;
    font-size: 17px;
    color: white;
  }
</style>




{% if request.user.is_authenticated %}

    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Already registered</h1>
        </div>
    </div>

{% else %}

    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Register here!</h1>
        </div>
    </div>
   
    <form id="user_form" method="post" action="{% url 'ready_recipe:register' %}" enctype="multipart/form-data">

        {% csrf_token %}
        
        {% for field in form.visible_fields %}

        {{ field.errors }}

        {% endfor %}

        <h4>Username</h4>
        <input type="text" name="username" id="id_username" class="form-control"
        placeholder="Username" required autofocus style="width: 25%;" >
        <br>

        <h4>Enter your email address</h4>
        <input type="email" name="email" id="id_email" class="form-control"
        placeholder="Email" required style="width: 25%;">
        <br>
         <h4>Password</h4>
        <input type="password" name="password" id="id_password" class="form-control"
        placeholder="Password" required style="width: 10%;">
        <br>
        <input class="btn btn-primary" type="submit" name="submit" value="Register" />
    </form>

{% endif %}

{% endblock %} 
