{% extends 'ready_recipe/base.html' %}


{% block title_block %}

    {{user.username}}

{% endblock %} 




{% block body_block %}

<div>

    {% if user %}

        div class="jumbotron p-4">
    
			<div class="container">
			
                <h1 class="jumbotron-heading">{{user.username}}</h1>
                			
            </div>
        <style> 
            img {
            max-width: 60%;
            height: auto;
          }
        </style>
			
        </div>

    <div> 

        {% for recipe in saved_recipes %}

            {% recipe.name %}

        {%endfor}

    </div>  






</div>





{% endblock %} 

