{% extends 'ready_recipe/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search Results
{% endblock %}

{% block body_block %}
 
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Results for '{{search}}'</h1>
    </div>
</div>
<style> 
    img {
    max-width: 15%;
    height: auto;
  }
</style>

<div>


    {% if results %}

    <h4>Found {{results|length}} recipes</h4>


 <div class="list-group">
 

 
 
    {% for result in results %}
 

 
    <div class="list-group-item">
 

    <h3 class="list-group-item-heading">

        <a href="{% url 'ready_recipe:show_recipe' category_name_slug=result.1 recipe_name_slug=result.2 %}">{{ result.0.name|safe|escape }}</a>
    </h3>

    <p class="list-group-item-text">

        <img src="{{result.0.picture.url }}"> <br> <br>


    </p>
</div>



{% endfor %}

</div>

{% else %}

<div class="container margin-top-20">
    <div>
        <h4>No results found for "{{search}}"</h4>
    </div>

    

{% endif %}


</div>


{% endblock %}

