
{% extends 'ready_recipe/base.html' %}


    {% block title_block %}

        {{request.user.username}}

    {% endblock %} 




    {% block body_block %}

    {% if user %}
        <div class="jumbotron p-4">
        <div class="container">

            <h1 class="jumbotron-heading">{{request.user.username}}</h1>
                
        </div>
    
        <style> 
            img {
            max-width: 40%;
            height: auto;
          }
          * {
            box-sizing: border-box;
            }

            /* Create two equal columns that floats next to each other */
            .column {
                float: left;
                width: 50%;
                padding: 10px;
            }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
        
        <div class="row">
            
            <div class="column">
                <h2> My own Recipes</h2>

        
                <ol>
                    {% for rec in own_rec_info %}
                        <li><a href="{% url 'ready_recipe:show_recipe' category_name_slug=rec.1 recipe_name_slug=rec.2 %}">{{rec.0.name}}</a></li>
                        <img src="{{ rec.0.picture.url }}"> <br> <br>

                    {% endfor %}


                </ol>
            </div>
            
            <div class="column">

                <h2> My saved Recipes</h2>

                <ol>
                    {% for rec in fav_rec_info %}
                        <li><a href="{% url 'ready_recipe:show_recipe' category_name_slug=rec.1 recipe_name_slug=rec.2 %}">{{rec.0.name}}</a></li>
                        <img src="{{ rec.0.picture.url }}">> <br> <br>

                    {% endfor %}


                </ol>

            </div>



        </div>
        {% endif %}

    {% endblock %} 

