pip==20.0.2
bcrypt==3.1.5
certifi==2019.11.28
cffi==1.11.5
chardet==3.0.4
defusedxml==0.5.0
Django==2.1.5
django-background-image==0.0.1
django-braces==1.14.0
django-cors-headers==2.4.0
django-model-utils==4.0.0
django-registration-redux==2.2
django-star-ratings==0.9.1
django-widget-tweaks==1.4.8
idna==2.9
oauthlib==3.0.1
olefile==0.46
Pillow==8.1.1
pycparser==2.19
PyJWT==1.7.1
python3-openid==3.1.0
pytz==2019.3
requests==2.23.0
requests-oauthlib==1.2.0
selenium==3.141.0
six==1.14.0
sqlparse==0.3.0
swapper==1.1.2.post1
urllib3==1.25.8
wincertstore==0.2
